@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        background-color: white;
        gap: 10px;
        grid-template-areas:
            'titulo titulo titulo titulo'
            'menu menu menu menu'
            'Giu Giu marcelo marcelo'
            'tg tg tm tm'
            'pg pg pm pm'
            'fotos fotos fotos fotos'
            'footer footer footer footer';
    }


    .fotos {
        display: flex;
      
        grid-area: fotos;
    justify-content: space-evenly;
        
    }

    header {
        grid-area: titulo;
        justify-items: center;
        background-color: rgb(69, 69, 203);
        color: white;
        text-align: left;
        border: 1px solid rgb(69, 69, 203);
    }

    h1::first-line {
        color: pink
    }

    .menu {

        grid-area: menu;
        justify-items: center;
        border: 1px solid rgb(69, 69, 203);
    }

    .menu ol {
        display: flex;
        list-style-type: none;
        color: rgb(69, 69, 203);
        background-color: white;
        list-style-type: none;
        justify-content: space-around;
    }

    ol li {
        margin-left: 100px;

    }

    .menu ol li:hover {
        font-size: 50px;

    }

    .Giu {
        background-color: white;
        grid-area: Giu;
        text-align: left;
        color: rgb(69, 69, 203);
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    h4 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .marcelo {
        background-color: white;
        text-align: left;
        color: rgb(69, 69, 203);
        grid-area: marcelo;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .tg {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: tg;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .tm {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: tm;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .pg {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: pg;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .pm {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: pm;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .fm {
        grid-area: fm;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 1px solid rgb(69, 69, 203);
    
        
    }

    .fg {
        grid-area: fg;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 1px solid rgb(69, 69, 203);
        
    }

    footer {
        background-color: rgb(69, 69, 203);
        color: white;
        grid-area: footer;
        border: 1px solid rgb(69, 69, 203);
        text-align: center;
    }
}



@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        background-color: white;
        gap: 10px;
        grid-template-areas:
            'titulo titulo'
            'menu menu'
            'Giu marcelo'
            'tg tm'
            'pg pm'
            'fotos fotos'
            'footer footer';
    }


    .fotos {
        grid-area: fotos;
    }

    header {
        grid-area: titulo;
        justify-items: center;
        background-color: rgb(69, 69, 203);
        color: white;
        text-align: left;
        border: 1px solid rgb(69, 69, 203);
    }

    h1::first-line {
        color: pink
    }

    .menu {
        grid-area: menu;
        justify-items: center;
        border: 1px solid rgb(69, 69, 203);
    }

    .menu ol {
        display: flex;
        list-style-type: none;
        color: rgb(69, 69, 203);
        background-color: white;
        list-style-type: none;
        justify-content: space-around;
    }

    ol li {
        margin-left: 25px;

    }

    .menu ol li:hover {
        font-size: 25px;

    }

    .Giu {
        background-color: white;
        grid-area: Giu;
        text-align: left;
        color: rgb(69, 69, 203);
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    h4 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .marcelo {
        background-color: white;
        text-align: left;
        color: rgb(69, 69, 203);
        grid-area: marcelo;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .tg {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: tg;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .tm {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: tm;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .pg {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: pg;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .pm {
        background-color: white;
        color: rgb(69, 69, 203);
        grid-area: pm;
        border: 1px solid rgb(69, 69, 203);
        padding-left: 15px;
    }

    .fm {
        grid-area: fm;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 1px solid rgb(69, 69, 203);
    }

    .fg {
        grid-area: fg;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 1px solid rgb(69, 69, 203);

    }

    footer {
        background-color: rgb(69, 69, 203);
        color: white;
        grid-area: footer;
        border: 1px solid rgb(69, 69, 203);
        text-align: center;
    }
}