*{
    margin:0;
    padding: 0;
    list-style: none;
    
}

.container-total{
    background-color: black;
    display: grid;
    gap: 10px;
    height: 100px;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item2 item2'
    'item3 item3 item3'; 
}


li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


li a:hover{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.item{
    background-color: rgb(86, 71, 38);
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
    
}

.item3{
    grid-area: item3;
    background: rgb(67, 47, 22);
    height: 100px;
    padding-top: 10%;
    
}

header h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

header {
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
}

.menus{
    display:flex;
    gap: 30px;
    align-items: right;
    padding: 20px;
    text-decoration: none;
    color: rgb(33, 171, 81);
    font-family: sans-serif; 
}

.itens{
    
    align-items: right;
    padding: 10px;
    text-decoration: none;
    color: rgb(243, 248, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.flex-main {
    display: flex;
    gap: 10px;
    height: 500px;

}

.flex-section {
    display: flex;
    gap: 10px;
    height: 500px;

}

.flex-section3 {
    display: flex;
    gap: 10px;
    height: 500px;

}

.foto{
    grid-area: foto;
    width: 100%;
}

.foto img{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}


footer {
    height: 300px;
    
}

#contato {
    color: white;
    text-align: center;
}

.textao1{
    background-color: blue;
    text-align: left;

}

.textao2{
    background-color: rgb(166, 255, 0);
    text-align: right;
}
.textao3{
    background-color: rgb(74, 106, 201);
    text-align: left;
}

#t1{
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 5%;
    text-align: justify;
}

#t2{
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 5%;
    text-align: justify;
}
#t3{
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 5%;
    text-align: justify;
}

.video{
    width:350px;
    height:300px;
    padding-right: 10%;
   
}

.foto2 {
    grid-area: foto2;
    width: 100%;
  
}

.foto2 img{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 250px;
    height: 250px;
    border-radius: 25%;
}

