html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Animação do background */
#background {
  width: 100vw;
  height: 200vh;
  background: linear-gradient(45deg, #08d9d6, #0f706f, #0a3333, #252a34,#732438, #6c152b, #8a1377);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
/*Fim animação background */

/* ----menu-----*/
header {
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  opacity: 0.7;
}

header h1 {
  color: red;
  font-size: 40px;
}

header span {
  color: white;
  font-size: 40px;
}

nav .navegacao-menu {
  display: flex;
  align-items: center;
}

.navegacao-menu:hover {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  opacity: 1;
}

.navegacao-menu li a {
  padding: 60px;
  color: white;
  font-size: 25px;
  opacity: 1;
}

/* --- Foto de perfil --- */
img {
  position: relative;
  margin-top: 30px;
  left: 43%;
  border-radius: 50%;
  width: 250px;
  height: 310px;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, .35) 5px 5px 15px 10px;
  cursor: pointer;
  transition: all .6s ease-in-out;
}

img:hover,
img:focus {
  opacity: 1;
  transform: scale(1.1);
}

/*--- main ---*/
section {
  display: grid;
  text-align: center;
  border-radius: 80px;
  background-color: #1e1d1d;
}

section p {
  color: white;
}

#Sobre {
  margin-left: auto;
  margin-right: auto;
  min-height: 45vh;
  width:25vw;
  padding: 20px;
  opacity: 0.8;
  transition: all .2s ease-in-out;
}

#Sobre:hover {
  opacity: 1;
  transform: scale(1.02);
}

#Trabalho {
  margin-left: auto;
  margin-right: auto;
  min-height: 30vh;
  width: 10;
  opacity: .8;
  transition: all .2s ease-in-out;
}

#Trabalho:hover {
  opacity: 1;
  transform: scale(1.02);
}

section h2 {
  margin-top: 1px;
  color: #00fffb
}

#Contato {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: auto;
  width: auto;
  opacity: .8;
  transition: all .2s ease-in-out;
}

#Contato:hover {
  opacity: 1;
  transform: scale(1.02);
}

#sobre span {
  color: rgb(219, 8, 8);
}

/*--- grid ---*/
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

/*--- Botão fixo para voltar ao inicio---*/
.botao-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 25%;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, .35) 5px 5px 4px;
}

.botao-inicio::after {
  content: "↑";
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 350ms;
  opacity: 1;
}

.botao-inicio:hover::after {
  margin-top: 7px;
  opacity: 0.6;
  
}