* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: rgb(56, 59, 85);
}

#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: #373842;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #373842;
}

#menu-h ul li a:hover {
    background-color: #272838;
}

img {
    padding: 10px;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

div {
    color: #fff;
}

.conteiner-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.conteiner-grid>div {
    border: 2px solid black;
    font-size: 22px;
    text-align: center;
}

a#insta {
    color: #fff;
    text-decoration: none;
}

a#insta::before {
    content: '☞ ';
}

a#insta::after {
    content: ' ☜';
}